.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

.cellwhite {
  background-color: #FCFBE3;
}

.cellblack {
  background-color: #554236;
}

.pieceblack {
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  width: 30px;
  height: 30px;
}

.piecewhite {
  color: white;
  text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
  width: 30px;
  height: 30px;
}

.indicate {
  -webkit-box-shadow: inset 0px 0px 0px 3px #ACC26D;
  -moz-box-shadow: inset 0px 0px 0px 3px #ACC26D;
  box-shadow: inset 0px 0px 0px 3px #ACC26D;
}
